
:root{
    --info: saddlebrown;
    --warning: gold;
    --error: firebrick;
    --success: forestgreen;
    --primary: #D9946C;
    --secondary: #591202;
    --palette3: #395059;
    --palette4: #8C592B;
    --palette5: #A86648;
    --light: floralwhite;
    --dark: black;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-principal:  "Viaoda Libre", serif;
    --font-family-secundaria:  "Love Ya Like A Sister", cursive;
}
*{
    box-sizing: border-box;
}
body{
    background-image: url(fondocafemorning.png);
    background-size: cover;
    background-position: center;
    background-color: floralwhite;
    background-attachment: fixed;
    place-items: center;
    text-shadow: 1px 1px 2px rgba(0,0,0,.6); 
}

.Inicio{
    background-image: url(header.png) ;
    background-size: cover;
    position: relative;
    display: flex;
    width: 100%;
    height: 30em;
    background-position: center;
    text-align: center;
    align-items: flex-start;
    justify-content: center;
    padding: 80px;
    overflow: hidden;
}

h1{
    font-family: var(--font-family-secundaria);
    background-image: url(tiza_blanca_textura.png);
    background-clip: text;
    -webkit-background-clip: text; /* Compatibilidad para navegadores WebKit */
    -webkit-text-fill-color: transparent; /* Hace el color del texto transparente para mostrar la textura */
    color: black; /* Establece un color base para el texto */
    font-size: 4.3em;
    position: center;
    margin: 0;
    line-height: 1.2;
}

.overlay{
    background-image: url('unnamed.jpg');
    background-position: center;
    align-items: center;
    display: inline-block;
    height: auto;
    border-style: groove;
    border-color: #8C592B;
    border-width: 10px;
    padding: 5px 50px 5px 50px;
    border-radius: 10px;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
}
.overlay img{
    width: 12em;
    
}

h2{
    font-family: var(--font-family-secundaria);
    font-size: 3em;
}
h3{
    font-family: var(--font-family-secundaria);
    font-size: 2em;

}
.MENU {
    position: fixed; 
    top: 0;
    left: 0;       
    width: 100%;
    height: 4em;   
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('hyperrealistic\ close.png');
    background-size: cover;
    border-style: outset;
    border-color: antiquewhite;
}

.Flex-container{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    
}
.Flex-container button{
    width: 3em;
    border-style: outset;
    border-color: antiquewhite;
}
.grid-item {
    position: relative;
    
}
section:first-of-type {
    margin-top: 100px; 
}
.flex-menu{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 15px;
    white-space: nowrap;
    top: 100%; 
    right: 0;
    z-index: 1001; 
    
}

.MiMenu {
    border-radius: 5%;
    border-style: inset;
    border-color: antiquewhite;
    font-family: var(--font-family-principal);
    color:antiquewhite;
    font-size: 2.5em;
    padding: 0.005em;
    display: block;
    cursor: pointer;  
}

.logo-conteiner {
    width: 3em;
    overflow: hidden;
}
.logo-conteiner img{
    width: 100%;
    filter: drop-shadow(0 3em 0 #FAEBD7 );
    transform: translateY(-3em);
}
.flex-menu li {
    border-radius: 5%;
    list-style-type: none;
    flex: 1;
    border-style: double;
    border-color: antiquewhite;
    font-family: var(--font-family-principal);
    background-image: url(hyperrealistic\ close.png);
    color:antiquewhite;
    width: 300px;
    font-size: 2em;
    padding: 5px;
    
}
.flex-menu a{ color: antiquewhite;}

section{
       background-color: rgba(255, 250, 240, 0.7);
       background-position: center;
       text-align: center;
       padding: 40px 20px 40px 20px;
       justify-content: center;  
}

footer{
    background-image: url(hyperrealistic\ close.png);
    color: antiquewhite;
    padding: 40px 50px 60px 50px;
}
p{
    font-family: var(--font-family-principal);
    font-size: 1.5em;
}


form {
    font-family: var(--font-family-principal);
    font-size: 1.3em; 
}
input{
  font-size: 1.3em;
  font-family: var(--font-family-principal);
}

textarea {
  font-size: 1.2em;
  font-family: var(--font-family-principal);

}
button{
  font-size: 1.3em;
  font-family: var(--font-family-secundaria);
  font-style: italic;
  background-image: url(hyperrealistic\ close.png);
  color: antiquewhite;
  border-style: outset;
}


.Contact a{color: var(--palette3);}

.Products img{
    border-style: double;
    border-color: #591202;
    overflow: hidden;
    width: 15em; 
    height: auto;   
    align-content: center;
    border-radius: 1em;
}
.producto-card{
    border-style: double;
    border-radius: 5px;
    border-color: #8C592B;
    width: 23em;
    height: auto;
    padding: 0.5em 0.5em 0.5em 0.5em;
    text-align: center;
}
.item{
    position: absolute;
    top: 50%;
    left:50%;
    background: antiquewhite;
    display: none;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    transition: transform 0.4s ease, opacity 0.4s ease;
    opacity: 0; 
    z-index: 0;
}
.item.center{
    transform: translate(-50%, -50%) scale(1);
    display: flex;
    opacity: 1;
    z-index: 3;
}
.item.left{
    transform: translate(-150%, -50%) scale(0.8);
    display: flex;
    opacity: 0.7;
    z-index: 2;
}
.item.right{
    display: flex;
    transform: translate(50%, -50%) scale(0.8);
    opacity: 0.7;
    z-index: 2;
}
.item.far{
    transform: translate(-250%, -50%) scale(0.6);
    opacity: 0.4;
}

#ListaProductos{
    display: flex;
    gap: 0.7em;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}
.carrousel{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
}

.carrousel-track{
    position: relative;
    width: 69em;
    height: 55em;
    list-style: none;
    padding: 0;
    margin: 0;
    perspective: 1000px;
}

#carrito{

  position: fixed;
  top: 70px; /* altura del nav */
  right: 20px;
  width: 300px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,.2);
  padding: 1rem;
  z-index: 1000;
}

.oculto {
  display: none;
}
#listaCarrito {
    background-color: antiquewhite;
    border-color: #591202;
    border-style: groove;
}
#listaCarrito input[type="number"] {
    
    width: 50px;   /* ancho de la casilla */
    font-size: 1.2em; /* tamaño del texto */
    text-align: center; /* centrar número dentro de la casilla */
    padding: 3px; /* opcional, espacio dentro de la casilla */
    border-radius: 5px; /* bordes redondeados */}

    #tablaCarrito button {
    font-size: small;
}
.total {
    font-size: medium;
    font-weight: bold;
    color:#591202
}

#contador-carrito{
    font-size: large;
    font-weight: bold;
    color: antiquewhite;
    font-family:  var(--font-family-principal);
}
.producto h6{
    font-size: 1.5em;
}
.producto p, .producto button{
    font-size: 1.3em;
    margin-bottom: 20px;
}
.precio{
    font-size: 1.4em;
    font-weight: bold;

}
.Feedback{
    display: grid;
    grid-template-columns: 2fr 1fr ;
    grid-template-rows:  auto auto auto;
    gap: 5px 20px;
    padding: 20px;
}
.Feedback h2{
    grid-row: 1;
    grid-column: 1 / 3;
    margin-bottom: 20px;
}
.Feedback h3{
    grid-row: 2 ;
    grid-column: 2 / 3;
    text-align: center;
    margin-bottom: 0;
}

.Feedbackimg {
    grid-row:  2 / 4;
    grid-column: 1;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr;
    gap: 1em;
}
.Feedback form{
    grid-row: 3 ;
    grid-column: 2 / 3;
    align-items: start;
    margin-top: 0;
}
.Feedback img, .About img{
    border-style: double;
    border-color: #591202;
    overflow: hidden;
    width: 20em; 
    height: auto;   
    align-content: center;

}
.Feedback textarea,
.Contact textarea{
    text-align: center;
    }
.Contact{
        padding: 20px 15px;
    }
.Contact form{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 10px 10px;
    font-size: 1.4em;
    text-align: center; 
    align-self: center;
    align-items: center;
    
}
/* ========================================================= */
/* 🔑 MEDIA QUERY PARA PANTALLAS PEQUEÑAS (Móviles)          */
/* ========================================================= */
@media only screen and (max-width: 600px){
    .Contact{
        padding: 15px 10px;
    }
    .Contact form{
        align-items: center;
        flex-direction: column;
        gap: 5px;
        padding: 20px 10px;
        font-size: 1.4em;
    }
    .Contact textarea{
        max-width: 350px;
    }
    .Feedback{
        padding: 15px 10px;
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: auto auto auto auto ;
        gap: 15px;
        align-content: center;
        justify-items: center;
    }
    .Feedback h2{ 
        grid-row: 1;
    }
    .Feedbackimg{
       grid-row: 2 ;
       grid-column: 1;
       gap: 0.005em;
       display: grid;
       grid-template-rows: auto auto auto auto;
       grid-template-columns: auto;
       gap: 5px;
       max-width: 350px;
       font-size: 1.4em;
    }
    .Feedbackimg img{
        width: 16em;

    }
    .Feedback h3{
        grid-row: 3;
        grid-column: 1;
    }
    .Feedback form{
        grid-row: 4;
        grid-column: 1;
        max-width: 280px;
        padding: 15px 10px;
        gap: 0.5em;
        align-self: center;
        align-items: center;
    }
    .Feedback textarea{
        text-align: center;
        max-width: 280px;
    }

    .Inicio{
    background-image: url(header.png) ;
    background-size: cover;
    position: relative;
    display: flex;
    width: 100%;
    height: 800px;
    background-position: center;
    text-align: center;
    align-items: flex-start;
    justify-content: center;
    padding: 80px;
    overflow: hidden;
    }
    .MENU {
        height: 30 px; 
        padding: 0 10px;
    }
    .MENU button, .MENU summary {
        height: 15 px;
        font-size: 10 px;
     }

    #carrito{
        width: 90%;
        right: 5%;
    }
    .carrousel-track {
    overflow: hidden;
    width: 23em; /* 1 tarjeta en móviles */
    }
    .item.center{
    transform: translate(-50%, -50%) scale(1);
    display: flex;
    opacity: 1;
    z-index: 3;
    }
    .item.left{
        transform: translate(-150%, -50%) scale(0.8);
        opacity: 0.4;
    }
    .item.right{
        transform: translate(50%, -50%) scale(0.8);
        opacity: 0.4;
    }

}
